
#container{
	width: 1050px;
 	margin: 0 auto;
}
#header{
	height: 100px;
	padding: 10px 0;

}
h1 a{
	font-size: 50px;
	font-weight: 100;
	color:  #861BBF;
	text-decoration: none;
}
#brand{
	float: left;
}
#searchBox{
	float: right;
	background: linear-gradient(white, blue);
	width: 400px;
	height: 50px;
	padding: 10px 10px 0 20px;
	margin-top: 20px;
}
.text{
	float: left;
	width: 200px;
	padding: 5px;
	font-size: 15px;
	color: orange;
	background:white url("images/search.png") right no-repeat;
    
}
.submit{
	float: right;
	padding: 5px;
	font-weight: bold;
	color: white;
	background: violet; 
	font-size: 15px;
}
.clear{
	clear: both;
}
#menu{
	height: 70px;
	background: linear-gradient(yellow,white);
	padding: 7px 0;
}
ul{
	list-style: none;

}
#menu ul li{
	float: left;
	padding: 0 30px;
	height: 30px;
	border-right: 1px solid green; 
}
#menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
	color: blue;
	line-height: 30px;
	transition: font-size 0.3s ease;
}
#menu ul li a:hover, #menu ul li a.active{
	font-size: 20px;
	font-weight: bold;
	color: violet;	
}

#menu ul li:last-child{
	border-right: none;
}
#introduction{
	background: linear-gradient(green,white);
	padding: 30px;
	margin: 16px 0px;
}
#introduction h3{
	font-size: 45px;
	color: blue;
	font-weight: normal;
}
#introduction p{
	font-size: 25px;
	color: green;
	text-align: justify;
}
.sidebar{
	height: 500px;
	width: 450px;
	border: 1px solid green;
	border-radius: 20px;
	padding: 10px 30px;
}
#leftsidebar{
	float: left;
}
#rightsidebar{
	float: right;
}
.sidebar h3{
	color: purple;
	font-size: 30px;

}
.sidebar ul li a{
	text-decoration: none;
	font-size: 20px;
	color: purple;
	transition: font-size 0.3s ease;
}
.sidebar ul li a:hover, .sidebar ul li a.active{
	text-decoration: none;
	color: blue;
	font-size: 23px;
	font-weight: bold;

}
.sidebar ul{
	padding-top: 8px;
}
#leftsidebar ul li{
	padding: 3px 0 6px 10px;
	list-style-image: url("images/arroy.png");
}
#rightsidebar ul li{
	padding: 17px 0 17px 70px;
	background: url("images/tick.png") no-repeat left center;
}
.footer{
	height: 60px;
	background: linear-gradient(white,yellow);
	padding: 10px 30px;
	margin-top: 15px;
}

